<?xml version="1.0"?>
<launch>

    <node pkg="tcp2ros" type="odom_imu_gps.py" name="odom_imu_gps" />

    <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="0.36 0 0 0 0 0 1 base_link base_laser_link 100" />
    <arg name="dev" default="/dev/input/js1"/>
    <node name="joy_node" pkg="joy" type="joy_node" output = "screen">
    <param name="dev" value="$(arg dev)"/>
    </node>
    
    <node name="joystick_pre" pkg="tcp2ros" type="joystick_driver2" output="screen"/>
    <include file="$(find urg_node)/launch/urg_lidar.launch" />
    
    <node name="path_publish" pkg="tcp2ros" type="path_publish"  output="screen" />
    <node name="pub_map_pose" pkg="tcp2ros" type="pub_map_pose"  output="screen" />
    <include file="$(find xsens_driver)/launch/xsens_driver.launch" />

    <node name="readGPS_modify" pkg="tcp2ros" type="readGPS_modify.py" />
</launch>
